body {
  background-color: floralwhite;
}

h1 {
  color: darkslategray;
  text-align: center;
  font-family: "Trebuchet MS";

}

h2, h3, h4 {
  color: darkslategray;
  text-align: center;
  font-family: "Trebuchet MS";
}


p {
  color: dimgray;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 15px;
}

ul {
  color: dimgray;
  text-align: left;
  font-family: "Trebuchet MS";
  font-size: 15px;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.boldtext {
  font-weight: bold;
}

.italictext {
  font-style: italic;
}

a {
  color: orange;
}

.topnav {
  overflow: hidden;
  background-color: darkslategray;

}

.topnav a {
  float: left;
  color: floralwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Trebuchet MS";
}

.topnav a:hover {
  background-color: orange;
  color: floralwhite;
}

.topnav a.active {
  background-color: darkslategray;
  color: white;
  font-family: "Trebuchet MS";
}
