body {
  background-color: floralwhite;
  text-align: center;
}

h1 {
  color: darkslategray;
  text-align: center;
  font-family: "Trebuchet MS";

}

h2, h3, h4 {
  color: darkslategray;
  text-align: center;
  font-family: "Trebuchet MS";
}


p {
  color: dimgray;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 15px;
}

ul {
  color: dimgray;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 15px;
}
.firstimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.boldtext {
  font-weight: bold;
}

.italictext {
  font-style: italic;
}

a {
  color: orange;
}

.topnav {
  overflow: hidden;
  background-color: darkslategray;

}

.topnav a {
  float: left;
  color: floralwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Trebuchet MS";
}

.topnav a:hover {
  background-color: orange;
  color: floralwhite;
}

.topnav a.active {
  background-color: orange;
  color: white;
  font-family: "Trebuchet MS";
}
.paragraph {
  margin:auto;
  width: 80%;
  padding: 10px;
}

.imgrow {
  text-align: center;
  width: 80%;
}

.img {
  float:left;
  width: 25%;
  height: auto;
  padding: 10px;
}

.main-header {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-right: auto;
}

.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color: floralwhite;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.left-text {
  text-align: left;
}
table {
  font-family: "Trebuchet MS";
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

td, th {
  border: 1px solid darkslategray;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  color:darkslategray;
}

tr:nth-child(even) {
  background-color: lightgray;
}

input[type=submit], input[type=reset]{
  background-color: darkslategray;
  color: floralwhite;
  padding: 15px 15px;
  border: none;
  width:30%;
  text-align: center;
  border-radius: 10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid darkslategray;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
  color: dimgray;
}

input[type=checkbox] {

}

fieldset {
  border: none;
  background-color: #e6e6e6;
  border-collapse: collapse;
  width: 90%;
  padding: 20px;
  font-family: "Trebuchet MS";
  color: dimgray;
  display: inline-block;
  text-align: left;
}

.buttons {
  background-color: floralwhite;
  text-align: center;
  border: none;
}
legend {
  color: darkslategray;
}
